<p-toast></p-toast>
<h3>Images-Vidéos</h3>
<p>Liste des Fichiers</p>
<div class="mb-4 flex justify-content-end">
    <p-button label="Téléverser Image/Vidéo" (click)="showDialog()"></p-button>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card" style="padding: 0">
            <p-table [value]="fichier" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="personneContact">Personne de contact<p-sortIcon field="personneContact"></p-sortIcon></th>
                        <th pSortableColumn="typeF">Type de Fichier <p-sortIcon field="typeF"></p-sortIcon></th>
                        <th>Télécharger</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-iv>
                    <tr>
                        <td style="min-width: auto;">
                            {{getDateOf(iv.date)}}
                        </td>
                        <td style="min-width: auto;">
                            {{iv.personneContact}}
                        </td>
                        <td style="min-width: auto;">
                            <img [src]="iv.typeF=='IMAGE'? 'assets/images/logoimage.png' : 'assets/images/video.png'" alt="Media" style="font-size: 2.5rem" >
                        </td>
                        <td style="min-width: auto;">
                            <a href="{{iv.fileURL}}">
                                <i class="pi pi-download" style="color:rgba(241, 163, 16, 0.87)"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h4>Téléverser une Image ou une Vidéo</h4>
    </ng-template>
    <p>Téléversez votre Fichier</p>
        <div class="p-fluid formgrid grid">
            <div class="field col-12">
                <label>Date</label>
                <p-calendar [(ngModel)]="fichierHelper.date" [showIcon]="true"></p-calendar>
            </div>
            <div class="field col-12">
                <label>Type de Fichier</label>
                <p-dropdown [options]="typeFichiers"
                            [(ngModel)]="fichierHelper.typeF"
                            optionLabel="key"
                            optionValue="value"
                ></p-dropdown>
            </div>
            <div class="field col-12">
                <label>Déposer une {{fichierHelper.typeF==='IMAGE'? 'image' : 'vidéo'}} </label>
                <p-fileUpload
                              [customUpload]="true"
                              [multiple]="false"
                              (onSelect)="onSelect($event)"
                              accept="{{fichierHelper.typeF==='IMAGE'? 'image/*' : 'video/*'}}  "
                              [showUploadButton]="false"
                              [showCancelButton]="false"
                              [auto]="false"
                              styleClass="border-1 surface-border surface-card border-round mt-2"
                >
                </p-fileUpload>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <p-button [disabled]="!uploadedImages" label="Enregistrer" (onClick)="submit()"></p-button>
                </div>
            </div>
        </div>

</p-dialog>

