<p-toast></p-toast>
<h3>Images-Videos</h3>
<p>Liste des fichiers</p>
<div class="mb-4 flex justify-content-end">
    <p-button label="Créer image/video" (click)="showDialog()"></p-button>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table [value]="fichier" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="fileURL">File URL <p-sortIcon field="fileURL"></p-sortIcon></th>
                        <th pSortableColumn="typeF">Type de Fichier <p-sortIcon field="typeF"></p-sortIcon></th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rvt>
                    <tr>
                        <td>{{rvt.date | date : "EEEE, dd MMMM YYYY"}}</td>
                        <td>{{rvt.fileURL}}</td>
                        <td>
                            <i class="pi {{rvt.typeF=='IMAGE'? 'pi-image': 'pi-video'}}" style="font-size: 2.5rem"></i>
                        </td>
                        <td>
                            <i class="pi pi-download" (click)="downloadFile()"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h4>Envoyer une image ou une video</h4>
    </ng-template>
    <p>S'il vous plait entrer kes informations de votre fichier</p>
    <div class="p-fluid formgrid grid">
        <div class="field col-12">
            <label>Date *</label>
            <p-calendar [(ngModel)]="fichierHelper.date" [showIcon]="true"></p-calendar>
        </div>
        <div class="field col-12">
            <label>Type de Fichier *</label>
            <p-dropdown [options]="typeFichiers"
                        [(ngModel)]="fichierHelper.typeF"
                        optionLabel="key"
                        optionValue="value"
            ></p-dropdown>
        </div>
        <div class="field col-12">
            <label>Upload de l'image </label>
            <app-file-upload></app-file-upload>
        </div>
        <div class="p-fluid formgrid grid">
            <div class="field col-12">
                <p-button label="Enregistrer" type="submit"></p-button>
            </div>
        </div>
    </div>
</p-dialog>

