.title {
    text-transform: uppercase;
}

.grid {
    i {
        margin: 0 1rem 0 1rem;
        background-color: var(--orange-200);
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;
    }

    i:hover {
        background-color: var(--orange-400);
    }
}

.content {
    img {
        padding-left: 0 !important;
    }

    .card {
        padding: 15px 10px 0 10px !important;
        cursor: pointer;
    }

    i {
        background: none !important;
    }
}

p-dialog h5 {
    color: #000;
}

.p-dialog .p-dialog-header {
    padding: 0.9rem;
}
