<h3>BLOG</h3>
<p>Notre actualité sur la plateforme</p>
<div class="grid">
    <div class="col-12" >
        <p-card header="{{blog.titre}}" subheader="{{blog.date | date}}" >
            <ng-template pTemplate="header">
                <img alt="Card" src="{{blog.fileUrl[0]}}" />
            </ng-template>
            <p>
                {{blog.contenu}}
            </p>
            <!--ng-template pTemplate="footer">
                <p-button label="Read More" ></p-button>
            </ng-template-->
        </p-card>
    </div>
</div>
