<h4>PERSONNES DE CONTACTS</h4>
<p>Liste des personnes de contacts du résident</p>
<div class="mb-4 flex justify-content-end">
    <p-button label="Ajouter une personne de contact" routerLink="/gestionnaire/contact-person/{{residentId}}/add"></p-button>
</div>
<div class="grid" *ngIf="contacts.length > 0">
    <div class="col-12">
        <div class="card">
            <p-table [value]="contacts" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th id="name" pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                        <th id="firstname" pSortableColumn="firstname">Prenom <p-sortIcon field="firstname"></p-sortIcon></th>
                        <th id="type" pSortableColumn="type">Type de personne <p-sortIcon field="type"></p-sortIcon></th>
                        <th id="action" pSortableColumn="name">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contact>
                    <tr>
                        <td style="min-width: 200px;">
                            {{contact.nom}}
                        </td>
                        <td style="min-width: 200px;">
                            {{contact.prenom}}
                        </td>
                        <td style="min-width: 200px;">
                            {{contact.choix}}
                        </td>
                        <td>
                            <i class="pi pi-eye" style="color: red; margin-right: 8px" (click)="view(contact)"></i>
                            <i class="pi pi-pencil" (click)="edit(contact)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p *ngIf="contacts.length === 0">Aucune personne de contact.</p>
