<h4>PERSONNES DE CONTACTS</h4>
<p>Liste des personnes de contacts du résident</p>
<div class="mb-4 flex justify-content-end">
    <button pButton label="Ajouter une personne de contact" routerLink="/gestionnaire/contact-person/{{residentId}}/add"
        class="btn-primary"></button>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table *ngIf="contacts.length > 0" [value]="contacts" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th id="name" pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th id="firstname" pSortableColumn="prenom">Prénom <p-sortIcon field="prenom"></p-sortIcon></th>
                        <th id="email" pSortableColumn="email">Émail <p-sortIcon field="email"></p-sortIcon></th>
                        <th id="tel" pSortableColumn="tel">Prénom <p-sortIcon field="tel"></p-sortIcon></th>
                        <th id="choix" pSortableColumn="choix">Type de personne <p-sortIcon field="choix"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contact>
                    <tr>
                        <td style="min-width: 200px;">
                            {{contact.nom}}
                        </td>
                        <td style="min-width: 200px;">
                            {{contact.prenom}}
                        </td>
                        <td style="min-width: 200px;">
                            {{contact.email}}
                        </td>
                        <td style="min-width: 200px;">
                            {{contact.tel}}
                        </td>
                        <td style="min-width: 200px;">
                            {{contact.choix}}
                        </td>
                        <td>
                            <i class="pi pi-eye" style="color: orange; margin-right: 8px" (click)="view(contact)"></i>
                            <i class="pi pi-pencil" (click)="edit(contact)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p *ngIf="contacts.length === 0">Aucune personne de contact.</p>
        </div>
        <button pButton label="RETOUR" routerLink="/gestionnaire/resident/details/{{residentId}}"
            class="btn-primary mt-4"><i class="pi pi-arrow-left mr-1"></i></button>
    </div>
</div>
