<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<h5>INFORMATIONS DU RÉSIDENT</h5>
<p>Détails du résident</p>
<div class="mb-4 grid">
    <div class="field col-4">
        <button pButton label="Retour" routerLink="/gestionnaire/resident"
            class="mr-5 btn-outline-primary"><i class="pi pi-arrow-left mr-1"></i></button>
    </div>
    <div class="field col-8 flex justify-content-end">
        <button pButton label="Voir les personnes de contact" routerLink="/gestionnaire/contact-person/{{residentId}}"
            class="mr-5 btn-primary"></button>
        <button pButton label="Voir les rapports quotidiens" routerLink="/gestionnaire/daily-report/{{residentId}}"
            class="btn-primary"></button>
    </div>
</div>
<div class="grid">
    <div class="field col-12 md:col-2">
        <div class="card col-12 md:col-12">
            <div class="text-center ">
                <img src="assets/images/photoUser2.jpg" alt="user_img"
                    class="d-flex mx-auto align-items-center col-6" />
                <p><strong>{{resident?.nom}} {{resident?.prenom}}</strong></p>
                <p><em>>{{resident?.chambre}}</em></p>
                <button pButton label="Désactiver Compte" class="btn-danger" (click)="disable()"></button>
            </div>
        </div>
        <div class="col-12 md:col-12 text-center">
            <button pButton label="Modifier le résident" class="d-flex mx-auto align-items-center btn-primary"
                (click)="residentEdit()"></button>
        </div>
    </div>
    <div class="col-12 md:col-10">
        <div class="card col-12 md:col-12">
            <h5>RÉSIDENT</h5>
            <div class="p-fluid p-formgrid grid mt-5">
                <div class="col-12 md:col-6">
                    <p><strong>Informations Personnelles</strong></p>
                    <div class="col-12 md:col-6 ">
                        <h6>Nom</h6>
                        <p>{{resident?.nom}}</p>
                        <h6>Prénom</h6>
                        <p>{{resident?.prenom}}</p>
                    </div>
                    <div class="col-12 md:col-6 content ">
                        <h6>Date De Naissance</h6>
                        <p>{{getDate(resident?.dateNaissance)}}</p>
                        <h6>Nombre d'enfants</h6>
                        <p>{{resident?.nbEnfant}}</p>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <p><strong>Informations de Contact</strong></p>
                    <div class="col-12 md:col-6 ">
                        <h6>Téléphone</h6>
                        <p>{{resident?.tel}}</p>
                        <h6>Émail</h6>
                        <p>{{resident?.email}}</p>
                    </div>
                    <div class="col-12 md:col-6 content">
                        <h6>Adresse</h6>
                        <p>{{resident?.adresse}}</p>
                    </div>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid mt-5">
                <div class="col-12 md:col-6">
                    <p><strong>Informations de la Résidence</strong></p>
                    <div class="col-12 md:col-6 ">
                        <h6>Date d'entrée</h6>
                        <p>{{getDate(resident?.dateEntree)}}</p>
                        <h6>Motif d'entrée</h6>
                        <p>{{resident?.motifEntree}}</p>
                        <h6>Chambre</h6>
                        <p>{{resident?.chambre}}</p>
                    </div>
                    <div class="col-12 md:col-6 content ">
                        <h6>Date de sortie</h6>
                        <p>{{getDate(resident?.dateSortie)}}</p>
                        <h6>Motif de sortie</h6>
                        <p>{{resident?.motifSortie}}</p>
                        <h6>Compte Actif</h6>
                        <p>{{resident?.actif}}</p>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <p><strong>Informations Médicales</strong></p>
                    <div class="col-12 md:col-6 ">
                        <h6>État de santé</h6>
                        <p>{{resident?.nom}}</p>
                        <h6>Antécédents Chirguricaux</h6>
                        <p>{{resident?.antChirugical}}</p>
                    </div>
                    <div class="col-12 md:col-6 content">
                        <h6>Antécédents Médicaux</h6>
                        <p>{{resident?.antMedical}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 md:col-10 ml-auto">
    <div class="card col-12 md:col-12">
        <h5>MÉDECIN</h5>
        <p><strong>Informations du médécin traitant</strong></p>
        <div class="p-fluid p-formgrid grid mt-5">
            <div class="col-12 md:col-6">
                <h6>Matricule</h6>
                <p>{{medecin?.numInami}}</p>
                <h6>Nom</h6>
                <p>{{medecin?.nom}}</p>
                <h6>Prénom</h6>
                <p>{{medecin?.prenom}}</p>
            </div>
            <div class="col-12 md:col-6 content">
                <h6>Adresse</h6>
                <p>{{medecin?.adresse}}</p>
                <h6>Téléphone 1</h6>
                <p>{{medecin?.tel1}}</p>
                <h6>Téléphone 2</h6>
                <p>{{medecin?.tel2}}</p>
                <h6>Émail</h6>
                <p>{{medecin?.email}}</p>
            </div>
        </div>
    </div>
</div>
