<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden authBg">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--orange-700) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/logo.jpeg" alt="Image" height="100" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Nouveau mot de passe</div>
                    <span class="text-600 font-medium">Entrez  votre nom d'utilisateur</span>
                </div>

                <div class="col-12">
                    <label for="username" class="block text-900 text-xl font-medium mb-2 required-field">Nom d'utilisateur</label>
                    <input id="username" type="text" placeholder="mpac@gmail.com" pInputText class="w-full md:w-30rem mb-5 col-12" style="padding:1rem">
                    
                    <button pButton pRipple label="Nouveau Mot de passe" class="w-full p-3 text-xl" [routerLink]="['/']"></button>
                </div>
            </div>
        </div>
    </div>
</div>
