<p-toast></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen mx-auto overflow-hidden authBg col-6">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--orange-700) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/logo.jpeg" alt="Image" height="100" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Changer Mot de passe</div>
                    <span class="text-600 font-medium">Entrez les Informations pour changer de mot de passe</span>
                </div>
                <form [formGroup]="formData" (ngSubmit)="save()" #form="ngForm">
                    <div class="col-12">
                        <div class="p-fluid formgrid grid">
                            <div class="field col-12">
                                <label for="username" class="text-900 text-xl font-medium mb-2 required-field">Nom
                                    d'utilisateur</label>
                                <input id="username" type="text" placeholder="mpac@gmail.com" formControlName="username" pInputText >
                                <small
                                    *ngIf="(formData.get('username')?.hasError('required') && formData.get('usename')?.touched) || (formData.get('username')?.hasError('required') && form.submitted)">{{required}}</small>
                            </div>
                            <div class="field col-12">
                                <label for="oldPassword" class="text-900 font-medium text-xl mb-2 required-field">Ancien Mot de passe</label>
                                <input id="oldPassword" formControlName="oldPassword" placeholder="Mot de passe" type="password" required pInputText />
                                <small *ngIf="(formData.get('oldPassword')?.hasError('required') && formData.get('oldPassword')?.touched) || (formData.get('oldPassword')?.hasError('required') && form.submitted)">{{required}}</small>
                            </div>
                            <div class="field col-12">
                                <label for="password1" class="text-900 font-medium text-xl mb-2 required-field">Nouveau Mot de passe</label>
                                <p-password id="password1" formControlName="pwd1" placeholder="Mot de passe"  ></p-password>
                                <small *ngIf="(formData.get('pwd1')?.hasError('required') && formData.get('pwd1')?.touched) || (formData.get('pwd1')?.hasError('required') && form.submitted)">{{required}}</small>
                                <small *ngIf="formData.get('pwd1')?.hasError('minlength')">Au moins 8( majuscule,minuscule,chiffre et caractère)</small>
                            </div>
                            <div class="field col-12">
                                <label for="password2" class="text-900 font-medium text-xl mb-2 required-field">Confirmer le mot de passe</label>
                                <input id="password2" formControlName="pwd2" placeholder="Mot de passe"  type="password" required pInputText />
                                <small *ngIf="(formData.get('pwd2')?.hasError('required') && formData.get('pwd2')?.touched) || (formData.get('pwd2')?.hasError('required') && form.submitted)">{{required}}</small>
                                <small *ngIf="formData.get('pwd1')?.hasError('minlength')">Au moins 8( majuscule,minuscule,chiffre et caractère)</small>
                                <small *ngIf="(!formData.get('pwd2')?.hasError('required') && formData.get('pwd1')?.value !== formData.get('pwd2')?.value)">Mot de passe ne correspond pas</small>
                            </div>
                        </div>
                        <button pButton pRipple label="Enregistrer" (click)="save()" class="col-12 mt-3 btn-primary"></button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

