<h4>ÉTABLISSEMENT</h4>
<p>Créer votre établissement</p>
<p-toast key="tst"></p-toast>
<div class="grid mt-3">
    <div class="col-12">
        <div class="card">
            <div class="col-12 grid">
                <div class="col-6 flex">
                    <img src="assets/images/group_221.png" alt="computer" class="col-10 mx-auto my-auto" />
                </div>
                <div class="col-6 flex" *ngIf="!currentEtab">
                    <div class="my-auto align-items-center justify-content-center">
                        <div class="text-center">
                            <h4>Vous n'avez aucun établissement sur votre compte</h4>
                            <p-button label="Ajouter" (onClick)="showForm()"></p-button>
                        </div>
                    </div>
                </div>
                <div class="col-6 my-auto">
                    <div *ngIf="currentEtab">
                        <h5 style="color: black; font-weight: 700; text-transform: uppercase;">Votre établissement
                        </h5>
                        <div class="p-fluid p-formgrid grid mt-5">
                            <div class="col-6">
                                <h6>Nom</h6>
                                <h6>Émail 1</h6>
                                <h6>Émail 2</h6>
                                <h6>Téléphone 1</h6>
                                <h6>Téléphone 2</h6>
                                <h6>Adresse</h6>
                                <h6>Date de création</h6>
                            </div>
                            <div class="col-6 content">
                                <h6>{{currentEtab.nom}}</h6>
                                <h6>{{currentEtab.email1}}</h6>
                                <h6>{{currentEtab.email2}}</h6>
                                <h6>{{currentEtab.tel1}}</h6>
                                <h6>{{currentEtab.tel2}}</h6>
                                <h6>{{currentEtab.adresse}}</h6>
                                <h6>{{displayDate(currentEtab.dateCreation)}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <app-etablissement-forms (saved)="closeForm($event)"></app-etablissement-forms>
</p-dialog>
