<p-toast></p-toast>
<h3>BLOG</h3>
<p>Notre actualité sur la plateforme</p>
<div class="grid">
    <div class="col-12">
        <div class="mb-4 flex justify-content-end">
            <p-button label="Enrégistrer un blog" (onClick)="showDialog()"></p-button>
        </div>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 lg:col-4 xl:col-3" *ngFor="let item of blogItems; index as i" >
                <p-card header="{{item.titre}}" subheader="{{item.date | date}}" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="{{item.fileUrl[i]}}" />
                    </ng-template>
                    <ng-template pTemplate="content">
                        <p>
                            {{item.contenu}}
                        </p>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Read More" routerLink="/gestionnaire/blog/details/{{item.id}}"></p-button>
                    </ng-template>
                </p-card>
            </div>

        </div>
    </div>
</div>



<p-dialog  [(visible)]="visible" [modal]="true"  [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h4>Créer un communiqué</h4>
    </ng-template>
    <h5 style="color: black">Information Personnelle</h5>
    <div class="p-fluid formgrid grid">
        <div class="field col-12">
            <label>Titre *</label>
            <input [(ngModel)]="newBlog.titre" type="text" required pInputText/>
        </div>
        <div class="field col-12">
            <label>Date *</label>
            <p-calendar [(ngModel)]="newBlog.date" [showIcon]="true"></p-calendar>
        </div>
        <div class="field col-12">
            <label for="commentaire">Contenu *</label>
            <textarea id="commentaire" [(ngModel)]="newBlog.contenu" rows="6" pInputTextarea></textarea>
        </div>
        <div class="field col-12">
            <label>Upload de l'image *</label>
            <app-file-upload></app-file-upload>
        </div>
        <div class="field col-12">
            <div class="mb-4 flex justify-content-end">
                <p-button label="Enrégistrer un blog" (onClick)="addCommentar()"></p-button>
            </div>
        </div>

    </div>
</p-dialog>
