<p-toast></p-toast>
<h3>BLOG</h3>
<p>Notre actualité sur la plateforme</p>
<div class="grid">
    <div class="col-12 md:col-12">
        <div class="mb-4 flex justify-content-end">
            <p-button label="Enrégistrer un blog" (onClick)="showDialog()"></p-button>
        </div>
    </div>
    <div class="col-12 md:col-12">
        <div class="grid">
            <div class="col-12 md:col-12 lg:col-4 xl:col-3" *ngFor="let item of blogItems; index as i" >
                <p-card header="{{item.titre}}" subheader="{{item.date | date}}" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="{{item.fileUrl[i]}}" />
                    </ng-template>
                    <ng-template pTemplate="content">
                        <p>
                            {{item.contenu}}
                        </p>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Read More" routerLink="/gestionnaire/blog/details/{{item.id}}"></p-button>
                    </ng-template>
                </p-card>
            </div>

        </div>
    </div>
</div>



<p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="dataForm" (ngSubmit)="save()" #form="ngForm">
        <div class="grid">
            <div class="col-6 md:col-6">
                <div class="card">
                    <h4>Création d'un communiqué</h4>
                    <div class="p-fluid formgrid grid">
                        <div class="field col-12">
                            <label class="required-field">Titre</label>
                            <input titre="titre" formControlName="titre" type="text" required pInputText class="form-control" />
                            <small
                                *ngIf="(dataForm.get('titre')?.hasError('required') && dataForm.get('titre')?.touched) || (dataForm.get('titre')?.hasError('required') && form.submitted)">{{required}}</small>
                        </div>
                        <div class="field col-12">
                            <label class="required-field">Date</label>
                            <p-calendar formControlName="date" [showIcon]="true" [required]="true"></p-calendar>
                            <small *ngIf="dataForm.get('date')?.hasError('required') && form.submitted">{{required}}</small>
                            <small *ngIf="dataForm.get('date')?.hasError('greater') && form.submitted">La date ne peut être
                                supérieur à celle d'aujourd'hui</small>
                        </div>
                        <div class="field col-12">
                            <label class="required-field">Contenu</label>
                            <input contenu="contenu" formControlName="contenu" type="text" rows="6" required pInputTextarea
                                class="form-control" />
                            <small
                                *ngIf="(dataForm.get('contenu')?.hasError('required') && dataForm.get('contenu')?.touched) || (dataForm.get('contenu')?.hasError('required') && form.submitted)">{{required}}</small>
                        </div>
                        <div class="field col-12">
                            <label>Ajouter une image </label>
                            <app-file-upload></app-file-upload>
                        </div>
                    </div>
                    <div class="p-fluid formgrid grid">
                        <div class="col-6 ml-auto">
                            <p-button label="Enregistrer" type="submit"></p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 md:col-6">
                <img style="width: 620px;  height: 485px;" src="/assets/images/group.png" alt="Image de décoration" />
            </div>       
        </div>
    </form>
</p-dialog>
