<h3>BLOG</h3>
<p>Notre actualité sur la plateforme</p>

<div class="grid">
    <div class="col-12">
        <div class="mb-4 flex justify-content-end">
            <p-button label="Enrégistrer un blog" (onClick)="showDialog()"></p-button>
        </div>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 lg:col-4 xl:col-3" *ngFor="let item of blogItems; index as i" >
                <p-card header="{{item.titre}}" subheader="{{item.date | date}}" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="{{item.fileUrl[i]}}" />
                    </ng-template>
                    <p>
                        {{item.contenu}}
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                    </ng-template>
                </p-card>
            </div>

        </div>
    </div>
</div>



<p-dialog  [(visible)]="visible" [modal]="true"  [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h4>DETAIL DU RAPPORT</h4>
    </ng-template>
    <h5 style="color: black">Information Personnelle</h5>
    <div class="p-fluid formgrid grid">

    </div>
    <h5 style="color: black">Commentaire</h5>
    <p>xsfdfdsf</p>
</p-dialog>
