.centered-image-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%; /* Assurez-vous que le conteneur occupe toute la hauteur disponible */
}
.centered-image {
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas la largeur du conteneur */
    max-height: 100%; /* Pour s'assurer que l'image ne dépasse pas la hauteur du conteneur */
    height: 100px;
    width: 100px;
}

.card{
    margin: 5rem !important;
}

@media screen and (max-width: 600px) {
    .move-down-image {
        margin-top: 30px; /* Ajustez la marge en fonction de vos besoins */
        margin-left: 30px;
    }
}
