<form [formGroup]="formData" #form="ngForm">
    <h4 class="title mb-0">Remplir les informations du Résident</h4>
    <h6 >Identifiants</h6>
    <div class="grid mt-3">
        <div class="col-12">
            <div class="p-fluid formgrid grid">
                <div class="field col-6">
                    <label class="required-field">Nom d'utilisateur</label>
                    <input name="username" formControlName="username" type="text" required pInputText
                        class="form-control" placeholder="mpacrina@gmail.com"/>
                    <small
                        *ngIf="(formData.get('username')?.hasError('required') && form.submitted)">{{required}}</small>
                </div>
                <div class="field col-6">
                    <label class="required-field">Mot de passe</label>
                    <input name="pwd1" formControlName="pwd1" type="password" required pInputText class="form-control"
                        type="password" />
                    <small *ngIf="(formData.get('pwd1')?.hasError('required') && formData.get('pwd1')?.touched) || (formData.get('pwd1')?.hasError('required') && form.submitted)">{{required}}</small>
                    <small
                        *ngIf="formData.get('pwd1')?.hasError('minlength')">Au
                        moins 8 caractéres</small>
                </div>
                <div class="field col-6">
                    <label class="required-field">Confirmer Mot de passe</label>
                    <input name="pwd2" formControlName="pwd2" type="password" required pInputText class="form-control"
                        type="password" />
                    <small *ngIf="(formData.get('pwd2')?.hasError('required') && formData.get('pwd2')?.touched) || (formData.get('pwd2')?.hasError('required') && form.submitted)">{{required}}</small>
                    <small
                        *ngIf="formData.get('pwd1')?.hasError('minlength')">Au moins 8 caractères(1 majuscule et 1 chiffre)</small>
                    <small
                        *ngIf="(!formData.get('pwd2')?.hasError('required') && formData.get('pwd1')?.value !== formData.get('pwd2')?.value)">Mot
                        de passe ne correspond pas</small>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="p-fluid formgrid grid">
                <div class="field col-6 ml-auto">
                    <p-button label="Prochaine étape" type="submit" (click)="next()"></p-button>
                </div>
            </div>
        </div>
    </div>
</form>
